<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - API-Gateway</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="container-fluid ps-5 pe-5">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="Page1">Page 1 (Unprotected)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="Page2">Page 2 (Protected)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/api/weather">Weather API (Protected)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid ms-2 me-2 ms-sm-3 me-sm-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid ms-2 me-2 ms-sm-3 me-sm-3 pt-3 border-top footer text-muted">
        <div class="justify-content-center">
            @{
                var sessionKey = (Context.User.Identity!.IsAuthenticated) ?
                    Context.User.Claims.Where(x => x.Type == AuthenticationHandler.SessionKeyClaimType).FirstOrDefault()?.Value :
                    "Unauthorized Session";
            }
            <p>Is logged-in: @Context.User.Identity!.IsAuthenticated</p>
            <p>Auth Type: @Context.User.Identity!.AuthenticationType</p>
            <p>Name: @Context.User.Identity!.Name</p>
            <p>Ip Address: @Context.User.Claims.Where(x => x.Type == AuthenticationHandler.IpAddressClaimType).FirstOrDefault()?.Value</p>
            <p>User Agent: @Context.User.Claims.Where(x => x.Type == AuthenticationHandler.UserAgentClaimType).FirstOrDefault()?.Value</p>
            <p>Session Key: @sessionKey</p>
            @if (Context.User.Identity!.IsAuthenticated)
            {
                <p><a asp-action="Logout" asp-controller="Auth">Logout</a></p>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
